<h1>Category Page</h1>

<p> Name: <%= @category["name"] %> </p>

<a href="<%=@category["id"]%>/edit"> Edit this product.</a>
<form action="/categories/<%= @category["id"] %>/destroy" method="post">
    <input type="submit" name="" value="Delete this category.">
</form>

<p>List of Products</p>
<ul>
	<% @products.each do |product| %>
	<li><a href="/products/<%= product['p_id'] %>"><%= product["name"] %></a></li>
	<% end %>
</ul>